<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.account.mapper.BillMapper">
    <!-- 添加 -->
    <insert id="insert">
        insert into bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="category != null and category != ''">
                category,
            </if>
            <if test="type != null and type != ''">
                type,
            </if>
            <if test="money != null and money != ''">
                money,
            </if>
            <if test="wayType != null and wayType != ''">
                way_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="category != null and category != ''">
                #{category},
            </if>
            <if test="type != null and type != ''">
                #{type},
            </if>
            <if test="money != null and money != ''">
                #{money},
            </if>
            <if test="wayType != null and wayType != ''">
                #{wayType},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
        </trim>
    </insert>

    <!-- 根据id修改 -->
    <update id="updateById">
        update bill
        <set>
            <if test="category != null and category != ''">
                category=#{category},
            </if>
            <if test="type != null and type != ''">
                type=#{type},
            </if>
            <if test="money != null and money != ''">
                money=#{money},
            </if>
            <if test="wayType != null and wayType != ''">
                way_type=#{wayType},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="remark != null and remark != ''">
                remark=#{remark},
            </if>
        </set>
        where
            id=#{id}
    </update>

    <!-- 根据id删除 -->
    <delete id="deleteById">
        delete from bill where id=#{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatch">
        delete from bill
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 选择所有 -->
    <select id="selectAll" resultType="com.account.pojo.Bill">
        select bill.*, user.username as username
        from bill
        left join user
            on bill.user_id = user.id
        <where>
            <if test="category != null and category != ''"> and bill.category=#{category}</if>
            <if test="type != null and type != ''"> and bill.type=#{type}</if>
            <if test="userId != null"> and bill.user_id=#{userId}</if>
            <if test="wayType != null and wayType != ''"> and bill.way_type=#{wayType}</if>
            <if test="start != null"> and bill.create_time >= #{start}</if>
            <if test="end != null"> and bill.create_time &lt;= #{end}</if>
        </where>
        order by id desc
    </select>

    <!-- 根据id查询 -->
    <select id="selectById" resultType="com.account.pojo.Bill">
        select * from bill where id=#{id}
    </select>

    <!-- 批量查询 -->
    <select id="selectBatch" resultType="com.account.pojo.Bill">
        select * from bill
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 查询所有分类 -->
    <select id="selectCategoryByType" resultType="java.lang.String">
        select distinct category
        from bill
        where type=#{type}
    </select>


    <!-- 根据账本id查询 -->
    <select id="selectByBookId" resultType="com.account.pojo.Bill">
        select * from bill where book_id=#{bookId}
    </select>
</mapper>