<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.account.mapper.PlanMapper">

    <!-- 添加 -->
    <insert id="insert">
        insert into plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="cover != null and cover != ''">
                cover,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="start != null">
                start,
            </if>
            <if test="end != null">
                end,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="cover != null and cover != ''">
                #{cover},
            </if>
            <if test="money != null">
                #{money},
            </if>
            <if test="start != null">
                #{start},
            </if>
            <if test="end != null">
                #{end},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!-- 根据id修改 -->
    <update id="updateById">
        update plan
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="cover != null and cover != ''">
                cover=#{cover},
            </if>
            <if test="money != null">
                money=#{money},
            </if>
            <if test="start != null">
                start=#{start},
            </if>
            <if test="end != null">
                end=#{end},
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
        </set>
        where
        id=#{id}
    </update>

    <!-- 根据id删除 -->
    <delete id="deleteById">
        delete from plan where id=#{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatch">
        delete from plan
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 选择所有 -->
    <select id="selectAll" resultType="com.account.pojo.Plan">
        select plan.*, user.username
        from plan
        left join user
        on plan.user_id = user.id
        <where>
            <if test="name != null and name != ''">
                and name=#{name}
            </if>
            <if test="cover != null and cover != ''">
                and cover=#{cover}
            </if>
            <if test="money != null">
                and money=#{money}
            </if>
            <if test="start != null">
                and start=#{start}
            </if>
            <if test="end != null">
                and end=#{end}
            </if>
            <if test="userId != null">
                and user_id=#{userId}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
        </where>
    </select>

    <!-- 根据id查询 -->
    <select id="selectById" resultType="com.account.pojo.Plan">
        select * from plan where id=#{id}
    </select>

    <!-- 批量查询 -->
    <select id="selectBatch" resultType="com.account.pojo.Plan">
        select * from plan
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>